  <footer class="container pb-5">
    <hr>
    <br>
    <div class="row">
      <div class="col-12 col-md">
          <a href="https://dadosecausas.org" target="_blank">
            <img src="https://vdn.libreflix.org/cdc/himcd/cdc_en_logo.png" alt="Data Science for a Cause Logo" width="190px">
          </a>
          <br><br>
          <p>
            <small class="d-block mb-3 text-muted">{{ _('An initiative by the Data Science for a Cause group') }}</small>
          </p>

      </div>
      <div class="col-6 col-md">
        <h5>{{ _('Explore') }}</h5>
        <ul class="list-unstyled text-small">
          <!-- <li><a class="-muted" href="/country/Brazil">{{ _('Brazil') }}</a></li> -->
          <li><a class="text-muted" href="/explore_countries">{{ _('Explore Countries') }}</a></li>
          <li><a class="text-muted" href="/explore_cities">{{ _('Explore Cities') }}</a></li>
          <li><a class="text-muted" href="/response">{{ _('Country Response') }}</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>{{ _('Featured') }}</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/country/Brazil">Brazil</a></li>
          <li><a class="text-muted" href="/country/United States">United States</a></li>
          <li><a class="text-muted" href="/city/São Paulo-SP">São Paulo (SP)</a></li>
          <li><a class="text-muted" href="/city/Rio de Janeiro-RJ">Rio de Janeiro (RJ)</a></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>-->
      <div class="col-6 col-md">
        <h5>{{ _('About') }}</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/about-us">{{ _('About HIMCD') }}</a></li>
          <!-- <li><a class="text-muted" href="">{{ _('Data Science for a Cause') }}</a></li> -->
          <li><a class="text-muted" href="/faq">FAQ</a></li>
          <!-- <li><a class="text-muted" href="#">Terms</a></li> -->
        </ul>
      </div>
    </div>
    <div class="row support-footer text-center">
      <br>
        <div class="col">
          <br>
          <small class="d-block mb-3 text-muted">{{ _('With the support of') }}</small>
          <a href="http://dainf.ct.utfpr.edu.br" target="_blank">
            <img src="https://vdn.libreflix.org/cdc/himcd/LogoDainfSigla.jpg" alt="" width="90px">
          </a>
          <a href="http://www.utfpr.edu.br/" target="_blank">
            <img src="https://vdn.libreflix.org/cdc/himcd/efcf9caf-6d29-4c24-8266-0b7366ea3a40.png" alt="" width="75px">
          </a>
        </div>
      </div>
  </footer>
