{% extends "layout.html" %}

{% set titulo =  _('About Us')  %}

{% block theme_content %}
    <div class="content col-md-12">
        <div class="row d-flex flex-column align-items-center">
            <div class="col-md-10">
                <h3>{{ _('The project') }}</h3>
                <p class="px-3">{{ _('The HIMCD is part of the') }} <a href="https://dadosecausas.org/" target="_blank">{{ _('Data Science for a Cause (Ciência de Dados por uma Causa)') }}</a> {{ _(' project.') }}</p>
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center">
            <div class="col-md-10">
                <h3>{{ _('Data sources') }}</h3>
                <div>
                    <dl class="px-3">
                        {{ _('Check our') }} <a href="{{ url_for('faq') }}#dataSources">{{ _('FAQ') }}</a>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-column align-items-center">
            <div class="col-md-10">
                <h3>{{ _('The team') }}</h3>
                <p class="px-3">{{ _('The people behind this website are:') }}</p>
                <ul class="px-6">
                    <li>Guilmour Rossi</li>
                    <li>Luca Almeida</li>
                    <li>Luiz Celso Gomes Jr</li>
                    <li>Nicole Kobayashi</li>
                    <li>Vitor Corrêa</li>
                    <li>Zulmira Coimbra</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
