{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block theme_content %}
<div class="container">
    <div class="row gutter-bottom">
        <div class="col text-center">
            <h2>{{ _('COVID-19 Report for %(country)s', country=country) }}</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
        {{ macros.list(_('List of most similar countries to %(country)s – COVID-19', country=country),
                    _("""The countries below are those that had COVID-19 cases before %(country)s. The similarity index and difference in days are
given by the proximity of the curves of number of deaths. See comparison charts and timelines for
more details.""", country=country),
                    simcountries,
                    place=country) }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
        {{ macros.list_socio(_('List of most similar countries to %(country)s – Socioeconomics', country=country),
                    _("""The countries below are countries similar to %(country)s in terms of socioeconomic factors. The similarity index is based on
several variables that might influence the severity of the epidemic. See comparison charts for
more details.""", country=country),
                    simcountries_socio,
                    place=country) }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
        {{ macros.list_live_stats(_('Current epidemic statistics for %(country)s', country=country),
                    _("Change is the variation of the value in relation to the previous day (in percentage points)."),
                    live_stats,
                    place=country) }}
        </div>
    </div>
</div>
{% endblock %}