{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% set titulo =  _('COVID-19 Report for %(city)s', city=city)  %}

{% block theme_content %}
<div class="container">
    <div class="row gutter-bottom">
        <div class="col text-center">
            <h2>{{ _('COVID-19 Report for %(city)s', city=city) }}</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
        {{ macros.list(_('List of most similar cities to %(city)s - COVID-19', city=city),
                    _("""The cities below are those that had COVID-19 cases before %(city)s. The similarity index and difference in days are
given by the proximity of the curves of number of deaths. See comparison charts and timelines for
more details.""", city=city),
                    level = 'cities',
                    items = simplaces,
                    place=city) }}
                </div>
                </div>

        <div class="row justify-content-center">
        {{ macros.list_socio(_('List of most similar cities to %(city)s – Socioeconomics', city=city),
                    _("""The cities below are cities similar to %(city)s in terms of socioeconomic factors. The similarity index is based on
several variables that might influence the severity of the epidemic. See comparison charts for
more details.""", city=city),
                    level = 'cities',
                    items = simplaces_socio,
                    place=city) }}
        </div>

        <div class="row justify-content-center">
            {{ macros.list_live_stats(_('Current epidemic statistics for %(city)s', city=city),
                    "",
                    level = 'cities',
                    items = live_stats,
                    place=city) }}
        </div>
    </div>
</div>
{% endblock %}