{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% set titulo =  _('Explore Cities (Brazil)')  %}

{% block theme_content %}
<div class="container gutter-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ _('Explore Cities (Brazil)') }}</h2>
            <p>
                {{ _('The pandemic has affected the entire world. However, some places are more vulnerable than others. This page aims to draw attention to the most relevant and urgent places to explore (only Brazilian cities currently).') }}
            </p>
        </div>
    </div>
</div>

<div class="container">
    {{ macros.list_by_variable(_('Cities by COVID-19 deaths per 100 thousand inhabitants'),
                    description = _("""The places below have the highest rates of deaths due to COVID-19."""),
                    variable = _('Deaths (per 100k inhabitants)'),
                    level = 'cities',
                    items = by_TotalDeathsPer100k) }}
    {{ macros.list_by_variable(_('Cities by weekly growth rate of COVID-19 deaths'),
                    description = _("""The places below have the highest growth rates of deaths in relation to the previous week (in percentage points)."""),
                    variable = _('Weekly growth of deaths (%%)'),
                    level = 'cities',
                    items = by_WeeklyGrowthDeaths) }}
    {{ macros.list_by_variable(_('Cities with the fewer hospital beds'),
                    description = _("""The places below have the fewer number of hopspital beds to treat patients with respitatory complications (per 100 thousand inhabitants)."""),
                    variable = _('Pulmonology beds (per 100k inhabitants)'),
                    level = 'cities',
                    items = by_leitos_pc) }}
</div>
{% endblock %}