{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% set titulo =  _('Explore Countries') %}

{% block theme_content %}
<div class="container gutter-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ _('Explore Countries') }}</h2>
            <p>
                {{ _('The pandemic has affected the entire world. However, some countries are more vulnerable than others. This page aims to draw attention to the most relevant and urgent countries to explore.') }}
            </p>
        </div>
    </div>
</div>


<div class="container">
    {{ macros.list_by_variable(_('Countries by COVID-19 deaths per 100 thousand inhabitants'),
                    description = _("""The places below have the highest rates of deaths due to COVID-19."""),
                    variable = _('Deaths per 100k inhabitants'),
                    level = 'countries',
                    items = by_TotalDeathsPer100k) }}
    {{ macros.list_by_variable(_('Countries by weekly growth rate of COVID-19 deaths'),
                    description = _("""The places below have the highest rates of growth in total deaths (percent increase over previous week)."""),
                    variable = _('Weekly growth in deaths (%%)'),
                    level = 'countries',
                    items = by_WeeklyGrowthDeaths) }}
    {{ macros.list_by_variable(_('Countries by highest elderly population'),
                    description = _("""The countries below have the highest percentages of people over 65 years of age. This population is in greater risk of developing severe symptoms if infected by COVID-19."""),
                    variable = _('Population ages 65 and above (%% of total population)'),
                    level = 'countries',
                    items = by_pop_65) }}
</div>
{% endblock %}