{% extends "layout.html" %}
{% block theme_content %}
{% set titulo =  _('Frequently Asked Questions')  %}
<style>
  .question a:link {
    text-decoration: none;
    color: inherit;
  }

  .question a:before {
    content: "\f107";
    /* fa-chevron-down */
    font-family: 'FontAwesome';
  }

  .question>a[aria-expanded="true"]:before {
    content: "\f106";
    /* fa-chevron-up */
  }

  .comparisonChart {
    width: 100%;
    max-width: 600px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ _('Frequently Asked Questions') }}</h3>
    </div>
  </div>


  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#helpTheProject" role="button" aria-expanded="false" aria-controls="helpTheProject">
      {{ _('How can I help the project?') }}
    </a>
  </h4>
  <div class="collapse px-5" id="helpTheProject">
    <p>{{ _("Even if you don't have technical experience, you can help by:") }}</p>
    <ul>
      <li>{{ _('Spreading the word about the project and the resources that we publish;') }}</li>
      <li>{{ _('Finding and reporting bugs in the website;') }}</li>
      <li>{{ _('Translating pages to languages you know well;') }}</li>
    </ul>

    <p>{{ _('If you want to help with coding and analyses:') }}</p>
    <ul>
      <li>{{ _('Consider joining the') }} <a href="www.dadosecausas.org" target="_blank"> {{ _('Data Science for a Cause project;') }} </a>
      </li>
      <li>{{ _('Get in') }} <a href="mailto:cienciadadoscausa@gmail.com" target="_blank" rel="noopener noreferrer">{{ _('touch') }}</a> 
        {{ _('to be included in our development repository.') }}</li>
    </ul>
  </div>


  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#interpretCharts" role="button" aria-expanded="false"
      aria-controls="interpretCharts">
      {{ _('How to interpret the Comparison Charts?') }}
    </a>
  </h4>
  <div class="collapse px-5" id="interpretCharts">
    <p>
      {{ _("""The charts are intended to provide a simple way to compare the evolution of COVID-19
      in pairs of countries that are in different stages of the epidemic. We use the reported
      deaths to align the data of both countries, which allows presenting them as if they were at the same
      stage of the epidemic. For example, the chart below compares Brazil and Italy. When it
      was created, Italy was about 28 days ahead of Brazil in terms of the epidemic's
      progression. Brazil's line (blue) crosses Italy's line (red) at around 1,000 deaths.
      Judging by the trends of the death lines, Brazil is expected to experience a less severe
      growth in deaths than Italy did in the same time period after the disease's arrival. However, always be careful about drawing conclusions
      based on these trends. The epidemic's dynamic is always changing. Different
      countries have different means and strategies to cope with the issue, which also might
      change over time. For more information about relevant news in each country, check out
      the events timeline.""") }}
    </p>
    <img class="comparisonChart" src="{{ url_for('.static', filename='img/compare_countries.png') }}" alt="{{ _('Comparison Chart') }}">
  </div>

  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#whyBasedOnDeaths" role="button" aria-expanded="false"
      aria-controls="whyBasedOnDeaths">
      {{ _('Why is data aligned based on deaths?') }}
    </a>
  </h4>
  <div class="collapse px-5" id="whyBasedOnDeaths">
    <p>
      {{ _("""The number of deaths is currently the most accurate metric to assess the epidemic
      profile of a country. The number of confirmed cases varies too much in relation to the number of real cases, depending on
      how countries perform tests to identify infected people. Although on purpose
      underreporting of deaths has been suspected in some countries, the variation in
      death numbers is still smaller than for number of cases. For this reason, we use the number of deaths
      to align the curves in the charts and the events in the timelines.""") }}
    </p>
  </div>


  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#dataSources" role="button" aria-expanded="false" aria-controls="dataSources">
    {{ _('What are the data sources?') }}
    </a>
  </h4>
  <div class="collapse px-5" id="dataSources">
    <p>{{ _('The data are collected from:') }}</p>
    <dl>
      <dd>{{ _("Countries' epidemic statistics") }} - <a href="https://ourworldindata.org/"
          target="_blank">{{ _('Our World in Data') }}</a></dd>
      <dd>{{ _('Timeline events') }} - <a
          href="http://www.centerforhealthsecurity.org/resources/COVID-19/COVID-19-SituationReports.html"
          target="_blank">{{ _('Johns Hopkins\' COVID-19 Situation Reports') }}</a></dd>
      <dd>{{ _("Brazilian cities' epidemic statistics") }} - <a href="https://brasil.io/dataset/covid19/caso"
          target="_blank">Brasil.io</a></dd>
      <dd>{{ _("Countries' socioeconomic statistics") }} - <a
          href="http://datatopics.worldbank.org/universal-health-coverage/covid19/" target="_blank">The World Bank</a>
      </dd>
      <dd>{{ _("Countries' air pollution data") }} - <a href="https://aqicn.org/" target="_blank">Air Quality Open
          Data Platform</a></dd>
      <dd>{{ _('Brazilian health system data') }} - <a
          href="https://datasus.saude.gov.br/informacoes-de-saude-tabnet/" target="_blank">DATASUS</a></dd>
      <dd>{{ _('Statistics for Brazilian socioeconomic variables') }} - <a href="https://www.ibge.gov.br/"
          target="_blank">IBGE </a></dd>
      <dd>{{ _("Brazil's socioeconomic statistics") }} - <a href="http://www.atlasbrasil.org.br/2013/"
          target="_blank">Atlas do Desenvolvimento Humano do Brasil </a></dd>
    </dl>
      <p><b>{{ _('If you need these data integrated, you can find the files and more information on:') }}
      <a href="https://gitlab.com/luizcelso/cdc-relatorios/-/tree/master/coronavirus/data"
          target="_blank">Gitlab project</a>
      </b></p>
  </div>


  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#whyCantCompareCountries" role="button" aria-expanded="false"
      aria-controls="whyCantCompareCountries">
      {{ _("Why can't I compare two arbitrary countries?") }}
    </a>
  </h4>
  <div class="collapse px-5" id="whyCantCompareCountries">
    <p>
      {{ _("""Currently, we only offer comparisons for countries with a difference in days greater than 14
      (based on the death curves' alignment), or for countries with similar socioeconomic realities.
      We believe these are the most relevant combinations to analyse, but we might consider expanding
      the interface as the project develops.""") }}
    </p>
  </div>


  <h4 class="question px-4 py-3">
    <a data-toggle="collapse" href="#otherResources" role="button" aria-expanded="false" aria-controls="otherResources">
      {{ _('What are other online good sources about COVID-19?') }}
    </a>
  </h4>
  <div class="collapse px-5" id="otherResources">
    <p>{{ _('There are many websites offering great data and analyses to follow the pandemic. Some of our favorites are:') }}</p>
    <ul>
      <li><a href="https://ourworldindata.org/coronavirus" target="_blank"> Our World in Data </a></li>
      <li><a href="https://coronavirus.jhu.edu/map.html" target="_blank"> COVID-19 Map - Johns Hopkins Coronavirus
          Resource Center </a></li>
      <li><a href="http://datatopics.worldbank.org/universal-health-coverage/covid19/" target="_blank"> The World Bank
        </a></li>
      <li><a href="https://covid19br.github.io/" target="_blank"> Observatório COVID-19 (Brazil) </a></li>
      <li><a href="https://coronacidades.org/" target="_blank"> coronacidades (Brazil) </a></li>
      <li><a href="https://especiais.g1.globo.com/bemestar/coronavirus/mapa-coronavirus/" target="_blank"> G1 (Brazil)
        </a></li>
    </ul>
  </div>
</div>
{% endblock %}
</div>
