{% extends "layout.html"%}

{% set titulo =  _('Home')  %}

{% block theme_content %}

<div class="jumbotron jumbo">
  <div class="container">
    <h1 class="display-5">{{ _('How Is My Country Doing?') }}</h1>
    <br>
    <p>{{ _('This project aims to inform researchers, decision makers, and the general public about the most
    promising strategies to tackle COVID-19 pandemic. By providing high-quality data on the variables that influence the
    spread and the lethality of the infection in the world&#39;s countries, including adopted public policies, we hope
    that the experiences and initiatives of the countries that are ahead in the epidemic can be useful to those
    where the disease arrived latter. Moreover, we present analyses considering variables that might be of
    particular importance to developing countries.') }}</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 p-3 d-flex flex-column justify-content-between">
      <div class="text-center">
        <h2>{{ _('Compare countries') }}</h2>
        <p>{{ _('The menu below gives access to our country comparison interface.') }}<br></p>
      </div>
      <div class="container">
        <form action="javascript:submitCountry()">
          <div class="form-group">
            <label>{{ _('Please choose a country') }}</label>
            <select class="form-control" id="countrySelect">
              {% for scountry in countries %}
              <option value={{scountry}}>{{scountry}}</option>
              {% endfor %}
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="{{ _('Show Report') }}">
        </form>
        <script>
          function submitCountry() {
            window.location='country/'+document.getElementById('countrySelect').value
            return
          }
        </script>
      </div>
    </div>

    <div class="col-md-6 p-3 d-flex flex-column justify-content-between">
      <div class="text-center">
        <h2>{{ _('Compare cities') }}</h2>
        <p>{{ _('The menu below gives access to our city comparison interface.') }} <br>{{ _("(only Brazilian cities currently)") }}</p>
      </div>
      <div class="container">
        <form action="javascript:submitCity()">
          <div class="form-group">
            <label>{{ _('Please choose a country') }}</label>
            <select class="form-control" id="citySelect">
              {% for scity in cities %}
              <option value={{scity}}>{{scity}}</option>
              {% endfor %}
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="{{ _('Show Report') }}">
        </form>
        <script>
          function submitCity() {
            window.location='city/'+document.getElementById('citySelect').value
            return
          }
        </script>
      </div>
    </div>

    {% if type == "list_posts"%}
    <div class="container">
      <br><br><br>
      <h3 class="text-center"> {{ _('Latest publications') }}</h3>
        <div class="article-grid">
          {% for post in posts_blog %}
          <div class="article-card" onclick="location.href='/posts/{{post.slug}}';">
                  <div class="thumbnail" style="background-image: url({{post.thumbnail.link}});">
                  </div>
                  <div class="title">
                    <small>{{ post.date.strftime('%B %d, %Y') }}</small>
                    <h5 class="post-title"><a href="/posts/{{post.slug}}">{{ post.title }}</a></h5>
                  </div>
          </div>
          {% endfor %}
        </div>
        <br>
          <h5 class="text-center"><a href="/posts">{{ _('See all articles') }} >></a></h5>
        <br>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
