{% if type == "single_post"%}
{% set titulo = post.title %}
{% endif %}

{% if type == "single_post"%}

{%set og_title = post.title %}
{%set og_image = post.thumbnail.link %}

{%set twitter_title = post.title %}
{%set twitter_image = post.thumbnail.link %}

{% endif %}


{% extends "layout.html" %}
{% import "macros.html" as macros %}



{% block theme_content %}

{% if type == "single_post"%}

{%set og_image = post.title %}
{%set og_title = post.thumbnail.link %}

{% set titulo = 'oalr' %}
<div class="container article">
    <h1 class="post-title">{{ post.title }}</h1>
    <p>by {{authorname}}</p>
    <p>{{ post.date.strftime('%B %d, %Y') }}</p>
    {% for term in post.terms %}
      <span class="badge badge-secondary">{{ term }}</span>
    {% endfor %}
    <div class="content">
      {{ post.content | safe }}
    </div>
    <br>
</div>
{% endif %}


{% if type == "list_posts"%}
<div class="container">
  <h3> {{ _('Articles and Reports') }}</h3>
    <div class="article-grid">
      {% for post in posts_blog %}
      <div class="article-card" onclick="location.href='/posts/{{post.slug}}';">
              <div class="thumbnail" style="background-image: url({{post.thumbnail.link}});">
              </div>
              <div class="title">
                <small>{{ post.date.strftime('%B %d, %Y') }}</small>
                <h5 class="post-title"><a href="/posts/{{post.slug}}">{{ post.title }}</a></h5>
              </div>
      </div>
      {% endfor %}
    </div>
    <p>
    </p>
    <br>
</div>
{% endif %}

{% endblock %}
