{% extends "layout.html" %}

{% block theme_content %}
    <div class="container article-content">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ _("Assessing countries' responses") }}</h2>
                <p>{{ _("The world's countries have adopted different strategies to minimize the damages caused by the epidemic. Public policies vary in stringency and duration from country to country. Here we present some tools to measure the efficiency of each country's strategy.") }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>{{ _('The importance of social isolation') }}</h3>

            </div>
            <div class="col-md-12">
                <p>{{ _("The chart below shows the correlation between the compliance with 'stay-at-home' recommendations (measured by the change in relation to expected automotive pollution), and their outcomes (measured in total number of deaths). There is a strong inverse correlation between social isolation (less pollution) and deaths. This means the more people stay at home, the less people become infected and die.") }}</p>
                <p class="text-center">
                    <img id="img_comp" class="responsive-img" src="{{ url_for('.static', filename='img/response_analysis.png') }}" alt="">

                </p>
            </div>
        </div>

        <div class="col-md-12">
            <h3>{{ _("Measuring countries' responses") }}</h3>
            <p>{{ _("The chart below shows the automotive pollution and the total deaths by COVID-19 since the biginning of the year for the selected country. A reduction in pollution can be observed in countries that are effectively implementing quarantine and lockdown measures.") }}</p>
            <div class="container">
                <div id="selectWrapper" class="form-group">
                    {{ form.countries.label }}
                    {{ form.countries(class_="form-control") }}
                </div>
                <img id="img_resp" class="responsive-img" src="{{ url_for('figresponse', place = 'China') }}.png" alt="Image Placeholder">
            </div>

        </div>
    </div>
    <script>
        const country_select = document.getElementById("selectWrapper").children[1];
        country_select.addEventListener(
            'change',
            function() {
                const image = document.getElementById('img_resp')
                image.src = "/figresponse/" + country_select.value + ".png"
            }
        )
        country_select.dispatchEvent(new Event('change'))
    </script>



{% endblock %}
