{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='stylesheets/timeline.css')}}">
{% endblock%}
{% block theme_content %}
<div class="container">

<div class="row row-timeline justify-content-center">
    <div class="col-xs-12 col-xl-10">
        <h2>{{ _('Timeline of major events related to the COVID-19 epidemic in %(place)s and %(place2)s', place=place, place2=place2) }}
        </h2>
        <div class="py-4">
            <p>{{ _("Date alignment is based on the proximity of the curves of number of deaths. By matching the number of cumulative deaths of the two countries, it is possible to predict what could happen in %(place)s if the course of actions is similar to %(place2)s's.", place=place, place2=place2) }}
            </p>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h3>{{ place }}</h3>
        </div>
        <div class="col-6">
            <h3>{{ place2 }}</h3>
        </div>
    </div>

    <div class="container gutter-bottom">
        {% for row in timeline %}
        <div class="row justify-content-center">


            <div class="col-4 d-flex justify-content-center align-items-center">
                <span class="timeline-event link-modal warning-level-{{ row['Highlight']|int }}"
                    data-highlight="warning-level-{{ row['Highlight']|int }}" data-source="{{ row['Source'] }}"
                    data-title="Event {{ country }}" data-description="{{ row['Desc'] }}"
                    data-content="{{ row['FullText'] }}">
                    {{ row['Desc'] }}
                </span>
            </div>

            <div class="col-1 d-flex justify-content-center align-items-center">
                <span class="text-center">
                    {% if row['Date'] %}
                    <b>{{ row['Date'] | parse_stringDates_formats }}</b>
                    {{ row['TotalDeaths']|int }}&nbsp;deaths
                    {% endif %}

                </span>
            </div>

            <div class="col-1 d-flex justify-content-center align-items-center timeline-line">
                <span class="circle"></span>
            </div>

            <div class="col-1 d-flex justify-content-center align-items-center">
                <span class="text-center">
                    <b>{{ row['Date2']|parse_stringDates_formats }}</b>
                    {% if row['Date2'] %}
                    {{ row['TotalDeaths2']|int }}&nbsp;deaths
                    {% endif %}

                </span>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
                <span class="timeline-event link-modal warning-level-{{ row['Highlight2']|int }}"
                    data-highlight="warning-level-{{ row['Highlight2']|int }}" data-source="{{ row['Source2'] }}"
                    data-title="Event {{ country2 }}" data-description="{{ row['Desc2'] }}"
                    data-content="{{ row['FullText2'] }}">
                    {{ row['Desc2'] }}
                </span>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<!-- EVENT DETAILS MODAL -->
<button type="button" style="display: none!important;" id="timelineModalBtn" class="display-none" data-toggle="modal"
    data-target="#timelineModal"></button>
<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="timelineModalTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <h5 class="modal-description"></h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="container">
                <p class="modal-source text-muted">{{ _('Source') }}</p>
            </div>
        </div>
    </div>
</div>

<!-- REPORT EVENT MODAL -->
<button type="button" id="reportEventModalBtn" class="report-event-btn" data-toggle="modal"
    data-target="#reportEventModal">
    <svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
            clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
            clip-rule="evenodd" />
    </svg>
</button>
<div class="modal fade" id="reportEventModal" tabindex="-1" role="dialog" aria-labelledby="reportEventModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="reportEventModalTitle">Report New Event</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <p>{{ _('Here you can contribute by reporting any important events about the epidemic in these countries. After verification, these events will be added to the timeline of the corresponding country.', place=place) }}</p>
            </div>
            <div class="modal-body">
                <div class="form-new-event">
                    <input type="hidden" class="form-event-place" value="{{ place }}">
                    <div class="form-group">
                        <label>{{ _('Event type') }}</label>
                        <small>{{ _('– Select the option that better suits the event.') }}</small>
                        <select class="form-control form-event-type">
                            <option value="quarantine">{{ _('Beginning of quarantine') }}</option>
                            <option value="mesures">{{ _('Government mesures') }}</option>
                            <option value="overload">{{ _('Health system overload') }}</option>
                            <option value="unquarantine">{{ _('End of quarantine') }}</option>
                            <option value="other">{ _('Other') }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{ _('Event description') }}</label>
                        <textarea class="form-control form-event-description" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{{ _('Event date') }}</label>
                        <input class="form-event-date form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label>{{ _('Event source') }}</label>
                        <small>{{ _('– Post a link to any news about this event.') }}</small>
                        <input type="url" class="form-event-source form-control">
                    </div>
                    <button type="submit" class="btn btn-primary form-event-submit">{{ _('Submit event') }}</button>
                </div>
                <div class="form-event-loading justify-content-center d-none">
                    <img src="{{ url_for('.static', filename='img/loading.gif') }}" alt="">
                    <h3>{{ _('Sending event...') }}</h3>
                </div>
                <div class="form-event-success d-none">
                    <h2 class="text-success">{{ _('Event submitted!') }}</h2>
                    <p>{{ _("""Thank you for your contribution! Your event will soon be reviewed by our team and displayed
                        on this timeline.""") }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("meta[name='viewport']").setAttribute('content', 'width=1024');
    });
</script>
{% endblock %}